@use '@/shared/styles/mixins' as styles;

.messageList {
  flex: 1 1 auto;
  min-height: 0;
  gap: 7px;
  background: rgba(109, 199, 247, 0.025);
  scrollbar-color: rgba(45, 115, 165, 0.32) transparent;
  scrollbar-width: thin;
}

@include styles.mobile {
  .messageList {
    padding: 16px 12px;
  }
}
